<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%date %level [%thread] %logger{10}: %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.FileAppender" name="FILE">
    <encoder>
      <pattern>%date %level [%thread] %logger{10}: %msg%n</pattern>
    </encoder>

    <file>cat_bot.log</file>
  </appender>


  <root level="INFO">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>